@{
    ViewBag.Title = "Tạo phiếu mượn sách thành công";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h1>Phiếu mượn tạo thành công</h1>
        <p class="lead">Mã phiếu mượn của bạn là <code>PM@(ViewBag.Ticket.Id.ToString("000000"))</code>. Vui lòng đi tới quầy nhận phiếu mượn của bạn.</p>
    </div>
</div>